/* Stiziles */

html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* main */

.main-content {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
